<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="stylesheet.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>

  <p class="link">Link | Link | Link</p>



<div class="user-box"><i class="fa fa-user-circle" aria-hidden="true"><p class="title1">ユーザー情報</p></i><br>
<!-- ユーザー情報の一覧 -->
 <div class="user-text">名前<br>
	メールアドレス<br>
	郵便番号<br>
	住所<br>
	電話番号<br>
	<!-- プロフィール編集&削除ボタン -->
   <a href="#" class="square_btn2">削除</a>
 　<a href="#" class="square_btn1">編集</a>
</div></div></div>

<!-- 購入履歴情報 -->
<div class="history-box"><p class="title">購入履歴</p>
<div class="history-text">【購入】<br>
購入日：<br>
購入商品：（購入点数：）<br>
　　アルバム　/　アーティスト　/　値段 × 数 = 小計<br>
　　アルバム　/　アーティスト　/　値段 × 数 = 小計<br>
合計金額：<br>

<!-- 送付先 -->
<div class="adress-text">
	【送付先情報】<br>
	名前<br>
	郵便番号　住所<br>
	電話番号<br>
</div></div>

</div>

<!-- paginationの設定 -->
 <div class="pagination">
        <p><</p>
        <p>1 </p>
        <p>2 </p>
        <p>3 </p>
        <p>4 </p>
        <p>5 </p>
        <p>> </p>
      </div>
    </section><br><br>
</body>
</html>




