// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  width: 100%;
  height: 60px;
  background-color:#FF8000;
}

.link{
  padding: 25px 50px;
  color: #81BEF7;
}

.user-box{
  width: 800px;
  margin: 60px 90px;
  font-size: 25px;

}
.user-text{
  margin-left: 20px;
  font-size: 15px;
}
.botton1{
float: right;
}

.history-box{
  width: 800px;
  margin: 120px;
  font-size: 25px;
}
.history-text{
  font-size: 15px;
}
.adress-text{
  padding:40px 60px;
}
.square_btn1{
    display: inline-block;
    margin-left: 15px;
    padding: 12px 40px;
    text-decoration: none;
    background: #FF8000;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    float: right;
}
.square_btn2{
    display: inline-block;
    margin-left: 15px;
    padding: 12px 40px;
    text-decoration: none;
    background: black;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    float: right;
}
.square_btn3{
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 40px 40px;
    text-decoration: none;
    background: #FF8000;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    float: right;
}
.square_btn1:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
.square_btn2:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
.square_btn3:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}


.album-image{
  width: 300px;
  height: 300px;
  float: left;
}
.album-image2{
  margin:0 90px;
  width: 180px;
  height: 180px;
  float: left;
  background: url(noimage_panda1.jpg);
  background-size: cover;
  background-position: center;
}
.album-box{
  width: 800px;
  margin: 90px;
  overflow: hidden;
}
.album-box2{
  width: 800px;
  margin: 30px 90px;
  overflow: hidden;
  padding-bottom: 30px;
  border-bottom: medium solid #D8D8D8;
}
.album-text{
  float: left;
  padding-left: 20px;
}
.disk-box{
  margin-left: 180px;
  margin-bottom: 30px;
}

.price-box1{
  margin-top: 90px;
  width: 200px;
  float: right;
}

.price-box2{
  width: 800px;
  text-align: right;
  padding-right: 90px;
}
.address-box{
  margin-left: 90px;
}
.address-box2{
  width: 300px;
  padding-left: 90px;
  float: left;
}

.title{
  font-size: 25px;
  font-weight: bold;
}


.title1{
  font-size: 25px;
  padding-left: 8px;
  font-weight: bold;
  float: right;
}

.pagination {
  text-align: center;
  padding-top: 50px;
}
.pagination p {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  color: #fff;
  background-color: #acabab;
  border-radius: 3px;
  line-height: 30px;
}
.cart-top{
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}

input{
margin: 10px 30px 20px 0;
width: 200px;
height: 30px;
}
select{
margin-left: 20px;
width: 40px;
height: 30px;
}
textarea {
margin-left: 60px;
width: 300px;
height: 30px;
}
.message1{
  text-align: center;
  color: red;
 }

.border-line{
  border-bottom: 1px solid #80808070;
  width: 690px;
}
.text-center1{
  margin-left: 250px;
}
