// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item_image{
	float: left;
	margin: 0 20px;
}

.item_text{
	padding-left: 15px;
	float: left;
}

.item_image{
	width:150px;
	height: 150px;
}
